@{
    ViewBag.Title = "Acerca Del Proyecto";
}
<h2 style="color:white">@ViewBag.Title.</h2>
<h3 style="color:white">@ViewBag.Message</h3><br /><br />

<div style="color: white; font-size:large">  
<p>Proyecto desarrollado en Asp.Net, utilizando el patron MVC, se retorna la vista por medio del controller una lista de museos y sus caracteristicas</p><br />
<p>En el controller se dispone de la logica necesaria para consumir una Api publica del gobierno de la Republica Argentina</p>
<p>Pueden ver las referencias en esta web:  <a href="https://www.argentina.gob.ar/onti/software-publico/catalogo/apis" class="btn btn-primary">Ir a Sitio >></a></p>
</div>