@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:transparent; color: aqua">
    <h1>Museos Historicos de Argentina</h1>
    <p class="lead">Nuestro pais tiene mucho de su arte e historia q mostrar, Visitalos!!!</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered" style="background-color:aqua">
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
            </tr>
            @foreach (var item in Model.results)
            {
               <tr>
                   <td>@item.nombre</td>
                   <td>@item.direccion</td>
                   <td>@item.telefono</td>
                   <td>@item.email</td>
               </tr>
            }
        </table>
    </div>
</div>